body{
    background-color: lightblue;
}
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
main{
    display: block;
    width: 50vw;
    height: 60vh;
    background-color: white;
    margin: auto;
    padding: 5px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}
input#display{
    background-color: lightslategray;
    border-style: solid;
    border: black;
    width: 42vw;
    height: 7vh;
    font-size: larger;
    font-weight: lighter;
    text-align: center;
    color: white;
    margin-top: 25px;
    margin-left: 22px;
}
section#Numeros{
    display:grid;
    margin-top: 10px;
    margin-left: 70px;
}
input{
    width: 8vw;
    height: 5vh;
    font-weight: lighter;
    margin-top: 10px;
}
input#zero{
    width: 16.5vw;
}

div{
    display:inline
}
span.op{
    margin: auto;
    padding-left: 17px;
    display: inline;
    
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
}